/* MARK: General Styling
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/pokedexbg2.jpg");
}

#wrapper {
    background-color: #FF3334;
    border-radius: 25px;
    width: 625px;
    height: 1000px;
    margin: 0 auto;
}

/* MARK: Header
*/
header {
    background-color: #FF3334;
    background-image: url("img/topdetail.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 160px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: .7rem 4rem 2rem;
}
header .power {
    height: 100px;
    width: 100px;
    background-color: #00DDFF;
    border-radius: 50%;
    border: 5px solid #FF3334;
    box-shadow: 0px 0px 1px 5px #000000;
}
header .powerLight {
    height: 100%;
    background-color: #01FFFF;
    border-radius: 50%;
    border: 7px solid #00DDFF;;
    box-shadow: 0px 0px 1px 2px #000000;
}
header .pokeball {
    background-image: url("img/pokeball.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
    align-self: flex-end;
}

/* MARK: Main
*/
.pokemons {
    height: 500px;
    width: 507px;
    margin: 0 auto;
    background-color: #fff;
    border-left: 4px solid rgb(68, 68, 68);
    border-right: 4px solid rgb(68, 68, 68);
    border-bottom: 4px solid rgb(68, 68, 68);
    box-shadow: 0px 0px 0px 3px #000000;
}

figure {
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    border: 1px solid rgb(161, 161, 161);
}
figure h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 1rem 0;
    font-size: 3rem;
}
figure img {
    height: 400px;
    width: 100%;
    /* height: 100%; */
    /* width: 465px; */
    overflow: hidden;
    object-fit: contain;
    border-top: 1px dashed #000000;
}


/* MARK: Footer
*/
footer {
    background-color: #636363;
    border-radius: 25px;
    margin: 2rem;
    padding: 1rem;
    height: 275px;
    border-left: 4px solid rgb(68, 68, 68);
    border-right: 4px solid rgb(68, 68, 68);
    border-bottom: 4px solid rgb(68, 68, 68);
    box-shadow: 0px 0px 0px 3px #000000;
}

/* MARK: p and title
*/
footer p {
    margin-bottom: .5rem;
    text-align: center;
}
footer .title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0;
    text-transform: capitalize;
}

/* MARK: Info
*/
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    background-color: #8DC73F;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 25px;
    border-left: 4px solid rgb(68, 68, 68);
    border-right: 4px solid rgb(68, 68, 68);
    box-shadow: 0px 0px 0px 3px #000000;
}
/* MARK: Details
*/
.details {
    display: flex;
    justify-content: space-evenly;
    height:fit-content;
    border-bottom: 1px solid black;
}
/* MARK: Stats
*/
.stats {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border-left: 1px solid black;
    padding: 0 0 0 20px;
}
.stats meter {
    width: 100%;
    height: 25px;
    border-radius: 3px;
}
.stats meter::-webkit-meter-bar {
    background: none;
    background-color: whiteSmoke;
    box-shadow: 0 5px 5px -5px #333 inset;
    border: 1px solid #444444;
}
.stats .stat_hp {
    margin-top: .5rem;
}
/* MARK: Abilities
*/
.abilities {
    margin-top: 1rem;
    padding: 0 20px;
}
.abilities ul {
    margin-left: 1rem;
    text-transform: capitalize;
}
.abilities ul li {
    margin-top: .3rem;
}