/* MARK: General Styling
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/pokedexbg2.jpg");
}

#wrapper {
    background-color: #FF3334;
    border-radius: 25px;
    width: 625px;
    height: 1000px;
    margin: 0 auto;
}

/* MARK: Header
*/
header {
    background-color: #FF3334;
    background-image: url("img/topdetail.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 160px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: .7rem 4rem 2rem;
}
header .power {
    height: 100px;
    width: 100px;
    background-color: #00DDFF;
    border-radius: 50%;
    border: 5px solid #FF3334;
    box-shadow: 0px 0px 1px 5px #000000;
}
header .powerLight {
    height: 100%;
    background-color: #01FFFF;
    border-radius: 50%;
    border: 7px solid #00DDFF;;
    box-shadow: 0px 0px 1px 2px #000000;
}
header .pokeball {
    background-image: url("img/pokeball.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
    align-self: flex-end;
}

/* MARK: Main
*/
.pokemons {
    height: 500px;
    width: 507px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 124px);
    justify-items: center;
    background-color: #fff;
    border-left: 4px solid rgb(68, 68, 68);
    border-right: 4px solid rgb(68, 68, 68);
    border-bottom: 4px solid rgb(68, 68, 68);
    box-shadow: 0px 0px 0px 3px #000000;
}
.pokemons a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
    text-align: center;
    color: black;
    &:hover {
        text-decoration: underline;
    }
}

figure {
    height: 100%;
    width: 100px;
    padding: 8px;
    border: 1px solid rgb(161, 161, 161);
    text-align: center;
}

figure img {
    height: 75px;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
}


/* MARK: Footer
*/
footer {
    background-color: #636363;
    border-radius: 25px;
    margin: 2rem;
    padding: 2rem;
    height: 275px;
    border-left: 4px solid rgb(68, 68, 68);
    border-right: 4px solid rgb(68, 68, 68);
    border-bottom: 4px solid rgb(68, 68, 68);
    box-shadow: 0px 0px 0px 3px #000000;
}
.pageButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pageButtons a, .pageButtons p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #464646;
    color: white;
    height: 40px;
    width: 130px;
    text-decoration: none;
    font-size: 20px;
    border: 4px solid #080808;
    &:hover {
        text-decoration: underline;
    }
}
.pageButtons p {
    color: black;
}

footer .searchBar input {
    background-color: #8DC73F;
    height: 40px;
    width: 100%;
    margin-top: 2rem;
    border-radius: 25px;
    border-left: 4px solid rgb(68, 68, 68);
    border-right: 4px solid rgb(68, 68, 68);
    box-shadow: 0px 0px 0px 3px #000000;
    text-align: center;
}